<div style="height: 100%; width: 100%;display: flex; justify-content: space-evenly;align-items: center; align-content: start;">

    <div>
        <h2>Create a new job</h2>
    </div>

    <div style="min-height:40%;min-width:40%; background-color: white;border-radius: 7px; padding: 10px 10px 10px 10px;">
        <div>
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="jobObject.job_title" (ngModelChange)="setEditCounter()">         
                    <label for="inputtext">Job title</label>
                </span>
            </div>
        </div>
        <br>
                <br>
        <div>
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="jobObject.job_start_date" (ngModelChange)="setEditCounter()" dateFormat="yy-m-d"></p-calendar>                
                    <label for="inputtext">Job start date</label>
                </span>   
                <span class="p-float-label">
                    <p-calendar dateFormat="yy-m-d" [(ngModel)]="jobObject.job_close_date" (ngModelChange)="setEditCounter()"></p-calendar>                 
                    <label for="inputtext">Job close date</label>
                </span>
            </div>
        </div>
        <br>
        <br>
        <div>
            <div class="p-inputgroup">
                <span>
                    <p-checkbox name="groupname" [(ngModel)]="jobObject.experience_required" (ngModelChange)="setEditCounter()"
                     [binary]="true" label="Experience required"></p-checkbox>      
                </span>
            </div>
        </div>
        <br>
                <br>
        <div>
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <input type="number" pInputText [(ngModel)]="jobObject.number_of_openings" (ngModelChange)="setEditCounter()">         
                    <label for="inputtext">Number of openings</label>
                </span>
            </div>
        </div>
        <br>
                <br>
        <div>
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <textarea pInputTextarea [(ngModel)]="jobObject.job_notes" (ngModelChange)="setEditCounter()"></textarea>      
                    <label for="inputtext">Job notes</label>
                </span>
            </div>
        </div>
        <br>
        <button pButton type="button" label="Go back" [routerLink]="['../']" 
         class="p-button-danger"></button>
        <button pButton type="submit" label="Update" (click)="updateJob()" style="float:right" [disabled]="!dataChanged"
         class="p-button-success"></button>
    </div>

</div>

<p-toast></p-toast>
